<div> 
    <snap-drawer> 
        <div ng-include="'views/common/menu.html'"></div>
    </snap-drawer> 
    <snap-dragger></snap-dragger> 
    <snap-content snap-opt-tap-to-close=false> 
        <a snap-toggle=left ng-click="menuOpen = !menuOpen">
            <span class=menutoggle> 
                <i ng-hide=menuOpen class="fa fa-bars fa-2x"></i> 
                <i ng-show=menuOpen class="fa fa-times fa-2x"></i>
            </span> 
        </a> 
        <div class=fr>
            <h2>Overview</h2>
        </div> 
        
        <hr />
        
        <div class=jumbotron> 
            <div class=container>

                <center>
                    
                    <img class="sidebar-img img-circle" ng-src="{{avatar}}" width="200" height="200" />
                    
                    <h2>{{name}}</h2>

                    <p id="about_me"></p>
                    
                    <h3>
                        My Skills includes 
                        <b id="skills"></b>
                    </h3>
                    
                    <br />
                    
                    <p>
                        <a ui-sref=contact class="btn btn-primary btn-lg btn-white">HIRE ME</a>
                    </p>

                </center>
            </div>
        </div> 
    </snap-content>
</div>