<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Achievements
        <div class="pull-right">
            <a class="btn btn-primary" ui-sref=achievements_insert>
                <i class="fa fa-plus"></i> Achievements
            </a>
        </div>
    </h1>    
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body no-padding">
                    <table class="table table-bordered">
                        <tr>
                            <th>Description</th>
                            <th>Sort order</th>
                            <th>Status</th>
                            <th class="text-right">Action</th>
                        </tr>
                        <tr ng-repeat="achievement in achievements">
                            <td style="width: 74%;">{{achievement.description}}</td>
                            <td style="width: 8%;">{{achievement.sort_order}}</td>
                            <td style="width: 8%;">
                                <span ng-show="{{achievement.status}}">Enabled</span>
                                <span ng-hide="{{achievement.status}}">Disabled</span>
                            </td>                            
                            <td class="text-right" style="width: 10%;">
                                <a href="#achievements/edit/{{achievement.achievement_id}}" class="btn btn-primary">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a ng-click="delete(achievement.achievement_id);" class="btn btn-danger">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div><!-- /.box-body -->
                
                <div class="box-footer clearfix">
                    <ul ng-bind-html-unsafe="pagination" class="pagination pagination-sm no-margin pull-right"></ul>
                </div>
                
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->
